<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Cadastro de Encomendas</h1>
    <form method="post">
        Nome do remetente: <input type="text" value="" name="nome">
        Nome do destinatario: <input type="text" value="" name="nomeDestinatario">
        Peso da encomenda(kg): <input type="text" value="" name="peso">
        Cep de origem: <input type="text" value="" name="CepOrigem">
        Cep de destino: <input type="text" value="" name="CepDestino">
        <button type ="submit">Calcular</button>
    </form>
</body>
</html>